/* General styles */
:root {
    --main-color: #212121;
    --first-title-color: #2196F3;
    --second-title-color: #000000;
    --background-color: #FFFFFF;
    --background-color-hero: #2F303A;
    --benefits-color: #757575;
    --button-color: #F5F4FA;
}

h1,
h2,
h3
p {
    margin: 0;
}
textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);        
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-decoration: none;
}

.logo-web {
    color: var(--first-title-color); 
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Header styles */
.header-list {
    display: flex;
    
}
.header-nav {
    margin-left: 93px;
}
.header-list .header-list-item {
    
    margin-right: 50px;    
}
.header-list .header-list-item:last-child {
    margin-right: 0;
}
.header-contacts {
    display: flex;

    padding-top: 32px;
    padding-bottom: 32px;
}
.header-contacts {
    margin-left: auto;
}
.header-list-contact + .header-list-contact{
   margin-left: 50px; 
   }
.header-list-contact {
    display: flex;
    align-items: center;
}
.header-list-contact .icon-envelope {
    margin-right: 10px;
    fill: var(--benefits-color) 
}
 
.header .header-list-contact:hover .icon {
    fill: #2196F3;
    
} 

.header-container {
    display: flex;
    align-items: center;
    max-height: 80px;
}

.header-link {
    position: relative;
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--first-title-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--first-title-color);}

.header-link .icon-envelope:hover {
    fill: #2196F3;
}
.header {
    border-bottom: 1px solid #EEEEEE;
}
.header-mailto-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    color: #757575;
}
.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    color: #757575;
}


/* Hero styles */

.hero-title {
    padding-top: 200px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    background: var(--background-color-hero);
    display: block;
    text-align: center; 

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.hero-button {
    margin-top: 30px;
    margin-bottom: 200px;
    color: var(--background-color);
    background: var(--first-title-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/*modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate (-50%, -50%) scale(1.1);
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;


    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {

    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-icon {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(5px, 5px);

}
.modal-button:hover,
.modal-button:focus {
    animation: icon-close 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--first-title-color);
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    padding: 40px;
}

.group {
    margin-bottom: 30px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    
}

.form-field:last-child {
    margin: 0;
}

.form-field label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--benefits-color);
    text-align: start;
}


.form-field input {

    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus {
    border-color: var(--first-title-color);
}

.form-field .comment {
    padding: 12px 16px;
    margin-top: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-field .comment:hover {
    border-color: var(--first-title-color);
}

.icon-modal {
    position: absolute;
    bottom: 12px;
    left: 12px;

    display: inline-block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover+.icon-modal,
input:focus+.icon-modal {
    fill: var(--first-title-color);
}

.policy {
    display: flex;
    align-items: center;

    line-height: 1.7;
    color: var(--benefits-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .policy {
    margin-bottom: 0;
    margin-left: 10px;
}

.policy a {
    color: var(--accent-color);
    text-decoration: underline;
}

.policy .checkbox {
    width: 16px;
    height: 16px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-checkbox {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;

    border: 2px solid var(--main-color);
    border-radius: 2px;
}

.checkbox:checked+.icon-checkbox {
    background-color: var(--first-title-color);
    border-color: var(--first-title-color);
    background-origin: border-box;
}

.checkbox:checked+.icon-chek {
    fill: var(--background-color);
}

.icon-chek {
    position: absolute;
    bottom: 0;
    left: 10px;
    fill: var(--background-color);
}

@keyframes icon-close {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.button-modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--first-title-color);

    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits-list {
    display: flex;
}
.benefits-list .benefits-list-item:not(:last-child) {
    margin-right: 30px;
}
.benefits-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.benefits-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--benefits-color);
}
.benefits-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}
.our-work {
    padding-top: 0;
}
.our-work-title {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.our-work-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-work-list .our-work-item {
    position: relative;
}

.our-team {
    background-color: #F5F4FA;
}

.our-team-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    
}
.our-work-item:not(:last-child) {
    margin-right: 30px;
}
.our-work-item::before {
    display: inline-block;
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.product-description {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    text-transform: uppercase;

    color: var(--background-color);

    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
} 
    
.our-team-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.our-team-item:not(:last-child) {
    margin-right: 30px;
}
.our-team-title {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: calc(42/36);
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    margin-top: 50px;
    text-align: center;
    color: var(--main-color);
}
.social-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    width: 44px;
    height: 44px;
    background-color: var(--background-color);
    margin-top: 16px;
    border-radius: 50%;
    margin-bottom: 30px;
    
}
.social-item:not(:last-child) {
margin-right: 10px;
}
.social-icon {
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-list .social-item:hover .social-icon {
        fill: #FFFFFF;
}
.social-item:hover {
    background-color: #2196F3;
}

.social-link { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--benefits-color);
}

.regular-customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.regular-customers-list {
    display: flex;
    align-items: center;
    justify-items: center;
}
.regular-customers-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    margin-top: 50px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.regular-customers-item:last-child {
    margin-right: 0;
}
.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-item:hover,
.regular-customers-item:focus {
    border: 1px solid var(--first-title-color);
    border-radius: 4px;
}
.regular-customers-item:hover .customers-icon {
fill: var(--first-title-color);

}
/*футер*/

.footer {
    background: var(--background-color-hero);
}
.address {
    font-style: normal;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: var(--background-color);
}
.footer-link {
    font-style: normal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--background-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-web-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26) ;
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--first-title-color)
}
.address {
    margin-top: 20px;
}
.work-button {
        color: var(--main-color);
        background: var(--button-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        text-align: center;
        letter-spacing: 0.03em;
}
.work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.work-list-item:not(:last-child) {
    margin-right: 8px;
}
.work-button {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-button:hover,
.work-button:focus {
    background: var(--first-title-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list-title {
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.examples-list-text {
    margin-left: 24px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--benefits-color);
}
.button {
    cursor: pointer;
}
.current {
    color: var(--first-title-color);
}
.examples-list {
    display: flex;
    flex-wrap: wrap;
    
}
.examples-list-item:nth-child(3n) {
    margin-right: 0;
}
.examples-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.examples-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.examples {
    margin-top: -4px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.examples-list-item:hover,
.examples-list-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.social-footer-item {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 16px;
    border-radius: 50%;
    margin-bottom: 20px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-item:not(:last-child) {
    margin-right: 10px;
}
.footer-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-icon {
    fill: var(--background-color);
}
.social-footer-item:hover {
    background-color: #2196F3;
}
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer>.container {
    display: flex;
    align-items: baseline;
}
.footer-adress {
    margin-right: 70px;
}

.description-position {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list-link:hover .description-position,
.examples-list-link:focus .description-position {
    opacity: 1;
    transform: translateY(0);
}


.product-thumb {
    position: relative;
    overflow: hidden;
    }

